.show{
    border: 1px solid red;
}
body{
    background-color:  rgb(242, 197, 247);
}
/* NAV BAR */
ul {
    width: auto;
    height: 80px;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 130px;
    height: 70px;
    border-radius: 8px;
}
ul li{
    list-style: none;
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: rgb(100, 100, 100);
    font-weight: 500;
}
/* HOUSES */
.sctn-2{
    width: 70%;
    height: 800px;
    margin-right: 20px;
    margin-top: 0;
    background-color: rgb(253, 229, 255);
    border-radius: 10px;
    float: right;

}