.show{
    border: 1px solid red;
}
body{
    background-color:  rgb(253, 229, 255);
}
/* NAV BAR */
ul {
    width: auto;
    height: 80px;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 130px;
    height: 70px;
    border-radius: 8px;
}
ul li{
    list-style: none;
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: rgb(114, 49, 175) ;
}
.main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
/* HOUSES */
.sctn-2{
    width: 1050px;
    height: 800px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 60px;
    background-color: white;
    border-radius: 10px;
}
.media{
    width: 500px;
    height: 200px;
    outline: 2px solid rgb(231, 152, 179);
    border-radius: 5px;
    margin-top: 40px;
    margin-left: 10px;
    display: flex;
}
img{
    width: 200px;
    height: 200px;
}
.media-body{
    width: 300px;
    margin: 5px;
}
.media-body h4{
    color: rgb(63, 30, 94);
}
.location{
    margin: 5px 0;
    font-size: 14px;
    color: blue;
}
.icon{
    margin-bottom: 5px;
    margin-right: 2px;
}
.icon span{
    margin-right: 2px;
    margin-left: 2px;
}
.paging{
    width: 100%;
    height: 45px;
    margin-top: 20px;   
    display: flex;
    justify-content: center;
    align-items: center;   
}
.paging div{
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}
.paging div p{
    margin: 0 10px;
}
.pg{
    height: 45px;
    margin-bottom: 0;
}
.pg li a:hover{
    color: rgb(236, 27, 97);
}
.page.active{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
}
.page{
    display: none;
} 
.paging ul li{
    display: inline-block;
    margin: 0 10px;
}
/* FILTER */
.filter{
    width: 250px;
    height: 800px;
    margin-top: 20px;
    text-align: center;
}
.filter h4{
    color:  rgb(92, 41, 139);
    font-size: 20px;
    font-weight: 400;  
}
.content{
    width: 250px;
    height:fit-content;
    margin-top: 20px;
    padding-top: 10px;
    text-align: center;
    display: grid; 
    justify-content: center; 
    align-items: center;
    }
h5{
    color: rgb(114, 49, 175);
    font-weight: 300;
}
button{
    border-radius: 20px;
    margin-top: 3px;
    width: 200px;
    height: 40px;
    border: 1px;
    background-color: white;
    font-weight: 400;
}
button:hover{
    background-color: rgb(243, 206, 218);
    transform: scale(1.1);
    transition-duration: 90ms;
}
/* hidden content */
.more-content{
    display: none;
}
.media.expand{
    width: 800px;
    height: 1000px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(243, 206, 218);
}