.show{
    border: 1px solid red;
}
body{
    background-color:  rgb(253, 229, 255);
}
/* NAV BAR */
ul {
    width: auto;
    height: 80px;
    margin-right: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.logo{
    width: 130px;
    height: 70px;
    border-radius: 8px;
}
ul li{
    list-style: none;
    display: inline-block;
}
ul li a{
    text-decoration: none;
    color: rgb(114, 49, 175) ;
}
/* HOUSES */
.main{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}
.sctn-2{
    width: 1000px;
    height: 800px;
    margin-right: 20px;
    margin-top: 0;
    margin-bottom: 20px;
    background-color: white;
    border-radius: 10px;
    float: right;
}
.filter{
    width: 300px;
    height: 800px;
    margin-top: 20px;
    margin-left: 5px;
    text-align: center;
}
.filter h4{
    color:  rgb(92, 41, 139);
    font-size: 20px;
    font-weight: 400;  
}
.content{
    width: 300px;
    height:fit-content;
    margin-top: 20px;
    margin-left: 10px;
    padding-top: 10px;
    text-align: center;
    display: grid; 
    justify-content: center; 
    align-items: center;
    }
h5{
    color: rgb(114, 49, 175);
    font-weight: 300;
}
button{
    border-radius: 20px;
    margin-top: 3px;
    width: 200px;
    height: 40px;
    border: 1px;
    background-color: white;
    font-weight: 400;
}
button:hover{
    background-color: rgb(243, 206, 218);
    transform: scale(1.1);
    transition-duration: 90ms;
}
