.show{
    border: 1px solid red;
}
body{
    background-color: rgb(249, 238, 250);
    margin-left: 80px;
}
img{
    height: 300px;
    float: right;
    margin-top: 30px;
    margin-right: 150px;
    border-radius: 20px;
}
h4{
    color: rgb(89, 37, 138);
    margin-bottom: 5px;
    margin-top: 80px;
}
p{
    margin-top: 5px;
    margin-right: 50%;
    margin-left: 10px;
    color: rgb(89, 37, 138);
    font-weight: 500;
    font-size: 20px;
}
span{
    margin-top: 15px;
    margin-left: 20px;
    font-weight: 500;
    font-size: 15px;
}
button{
    background-color: rgb(180, 85, 189);
    margin-left: 250px;
    padding: 15px 60px;
    border: none;
    border-radius: 15px;
    color: #fff;
    font-size: large;
    font-weight: 500;
}